<div class="left-nav-main">
    <div class="left-nav-element user">
      <img class="user-img" src="assets/users/32.jpg">
      <span>Peter Gray</span>
    </div>
    <div class="left-nav-element friends">
      <i data-visualcompletion="css-img" class="" style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/yU/r/BHDNlEdwMgn.png&quot;); background-position: 0 -296px; background-size: auto; width: 36px; height: 36px; background-repeat: no-repeat; display: inline-block;"></i>
      <span>Friends</span>
    </div>
    <div class="left-nav-element groups">
      <i data-visualcompletion="css-img" class="" style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/yU/r/BHDNlEdwMgn.png&quot;); background-position: 0px -74px; background-size: auto; width: 36px; height: 36px; background-repeat: no-repeat; display: inline-block;"></i>
      <span>Groups</span>
    </div>
    <div class="left-nav-element groups">
      <i data-visualcompletion="css-img" class="" style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/yu/r/R74ORw3zEs2.png&quot;); background-position: 0px 0px; background-size: auto; width: 36px; height: 36px; background-repeat: no-repeat; display: inline-block;"></i>
      <span>Messenger</span>
    </div>
    <div class="left-nav-element groups">
      <i data-visualcompletion="css-img" class="" style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/yU/r/BHDNlEdwMgn.png&quot;); background-position: 0px -185px; background-size: auto; width: 36px; height: 36px; background-repeat: no-repeat; display: inline-block;"></i>
      <span>Saved</span>
    </div>
    <div class="left-nav-element groups">
      <i data-visualcompletion="css-img" class="" style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/yU/r/BHDNlEdwMgn.png&quot;); background-position: 0px -444px; background-size: auto; width: 36px; height: 36px; background-repeat: no-repeat; display: inline-block;"></i>
     <span>Memories</span>
    </div>
</div>
