<section class="message-main">
  <div class="contacts-search-message-settings">
    <span class="contacts-text">Contacts</span>
    <div class="search-message-settings">
      <button class="search-btn">
        <svg class="search-ico" fill="currentColor" height="16" viewBox="0 0 16 16" width="16"
             xmlns="http://www.w3.org/2000/svg">
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </button>
      <button class="settings-btn">
        <svg class="settings-ico" viewBox="0 0 16 16"
             xmlns="http://www.w3.org/2000/svg">
          <path
            d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
        </svg>
      </button>
    </div>
  </div>
  <a href="https://google.com">
  <div class="online-contacts-container">
    <div class="online-contacts">
      <div class="online-contact">
        <img src="assets/users/32.jpg">
        <span class="name-surname">Peter Gray</span>
      </div>
    </div>
  </div>
  </a>
</section>
