<section class="message-main">
  <div class="contacts-search-message-settings">
    <span class="contacts-text">Contacts</span>
    <div class="search-message-settings">
      <button class="search-btn">
        <svg class="search-ico" fill="currentColor" height="16" viewBox="0 0 16 16" width="16"
             xmlns="http://www.w3.org/2000/svg">
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </button>
      <button class="settings-btn">
        <svg class="settings-ico" fill="currentColor" height="16" viewBox="0 0 16 16" width="16"
             xmlns="http://www.w3.org/2000/svg">
          <path
            d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
        </svg>
      </button>
    </div>
  </div>
  <div class="online-contacts-container">
    <div
      class="online-contacts">
      <div class="online-contact">
        <img src="assets/users/32.jpg">
        <span class="name-surname">Peter Gray</span>
        <div class="online-contact-detail">
          <div class="online-contact-detail-layer">
            <div class="online-contact-detail-layer02">
              <div class="profile-pic">
                <img class="profile-pic-mid" src="assets/users/32.jpg">
              </div>
              <div class="infos">
           <span class="name-surname-detail-sec">
          Peter Gray
        </span>
        <span class="info">
          <svg class="info-ico" fill="currentColor" height="16" viewBox="0 0 16 16"
               width="16" xmlns="http://www.w3.org/2000/svg">
           <path
             d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
          </svg>
           Profile · Creator
        </span>
        <span class="info">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="body_1" width="20" height="20">
<g transform="matrix(1.3333334 0 0 1.3333334 0 0)">
    <image  x="0" y="0" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAZBJREFUOI2t1L9rFEEchvHPLSpME7S8KdKtiFaprTSCKII2gqYyEAiCQixiCiVChAhXWGjaWNhKCpugnUX+BhGmMuKAxaEEw4ogsbg9ucj9yIU81ex39n14F3amcXnhmi6xKiewjJuYNJxtvMFKDmmnOzzWIzuBTXzGVXzMIe31M8WqbOAsHmEzVuXFHNLvfULcwnmcw0wdHFHSD5yss6//CWNVTmIVi1jPIX0fZapzpzCH1ViVH3JI292Gy9jDbdw7QLNe2nV2GXON2fkHTXzCxDiWPuzgTIHWEcjUjlaB6SOQdZku0DxE8B1yn3mzOIRsKYd0BQ/7bY4rbOWQWrEqj+POOMJv+PLfbD2HtBSrstD5iS+NI7yA03hfP29gvl6v6ZyMvgwSXs8h/cINrGAmh/QnVuVT3B0kY/9Z7uVZrMqfOaQ1PIFYlQt4PEw2rCG8jFV5v5bN4vkoWVfYHrL/IlblV7xC4wC+doGtES/FgzSr2Sp0rqzdMUKD2MVikUNKmMJbwz9/EO06O5VDSn8BVQFssr7jN+gAAAAASUVORK5CYII=" width="15" height="15"/>
</g>
</svg>
          <strong>200 Followers</strong>
        </span>
              </div>
            </div>
            <div class="buttons">
              <button class="button is-friend">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                  <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
                Friends
              </button>
              <button class="button message">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-messenger" viewBox="0 0 16 16">
                  <path d="M0 7.76C0 3.301 3.493 0 8 0s8 3.301 8 7.76-3.493 7.76-8 7.76c-.81 0-1.586-.107-2.316-.307a.639.639 0 0 0-.427.03l-1.588.702a.64.64 0 0 1-.898-.566l-.044-1.423a.639.639 0 0 0-.215-.456C.956 12.108 0 10.092 0 7.76zm5.546-1.459-2.35 3.728c-.225.358.214.761.551.506l2.525-1.916a.48.48 0 0 1 .578-.002l1.869 1.402a1.2 1.2 0 0 0 1.735-.32l2.35-3.728c.226-.358-.214-.761-.551-.506L9.728 7.381a.48.48 0 0 1-.578.002L7.281 5.98a1.2 1.2 0 0 0-1.735.32z"/>
                </svg>
                Message
              </button>
              <button class="button person-settings">
                <svg class="settings-ico" fill="currentColor" height="16" viewBox="0 0 16 16" width="16"
                     xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
