.nav-main-logo-search {
  display: flex;
  flex-direction: row;
  margin-left: 1.6rem;
  gap: 12px;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}
.main-icon {
  width: 40px;
  height: 40px;
  fill: #087be9;
  border-radius: 50%;
  background: #ffffff;
}
.search-main {
  background: #3a3b3c;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.search-ico {
  width: 16px;
  height: 16px;
  fill: #afb2b7;
  margin-left: 1.2rem;
  stroke-width: 2px;
  opacity: 0.99;
}
input {
background: #3a3b3c;
  border: none;
  width: 21.2rem;
  height: 4rem;
  border-radius: 20px;
  padding: 7px 8px 9px 8px;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #e4e6eb;
}
input::placeholder {
  color: #afb2b7;
}
input:focus {
  outline: none;
}
.nav-main-btns {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-main-btns-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 1.6rem;
  list-style-type: none;
}
li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12.95rem;
  height: 48px;
  border-radius: 8px;
  cursor: pointer;
}
li:hover{
  background: #3A3B3C;
}

li svg {
  width: 28px;
  height: 28px;
  fill: #B8BBBF;
}
.active svg {
  fill: #087BE9;
}
.active:hover {
 background: none;
}
.active::after {
  content: "";
  position: absolute;
  width: 10.759rem;
  height: 3px;
  bottom: 0;
  background: #087BE9;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}

.messenger-notification-account{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.8rem;
  margin-right: 1.6rem;
}

.messanger, .notification{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3a3b3c;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.messenger-notification-account svg {
  width: 20px;
  height: 20px;
  fill: #e2e4e9;
}
.account {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-photo {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
